.destinations-header-section {
  padding: 97px 106px 0;
  background: white;
  position: relative;
}

.destinations-header-section::before {
  content: '';
  position: absolute;
  top: 50px;
  right: 80px;
  width: 80px;
  height: 80px;
  opacity: 0.03;
  z-index: 0;
  pointer-events: none;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M50 10 C45 10, 40 15, 40 25 L40 50 C40 60, 45 65, 50 65 C55 65, 60 60, 60 50 L60 25 C60 15, 55 10, 50 10 Z' fill='%23000'/%3E%3Ccircle cx='45' cy='25' r='8' fill='%23000'/%3E%3Cpath d='M37 25 L32 22 L32 28 Z' fill='%23000'/%3E%3Cpath d='M50 65 L45 75 L50 70 L55 75 Z' fill='%23000'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
}

.section-header {
  width: 100%;
  text-align: left;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 0;
  padding-left: 0;
}

.section-header > div {
  max-width: 650px;
  display: flex;
  flex-direction: column;
  gap: 22.45px;
  align-items: flex-start;
  margin-left: 0;
}

.section-heading {
  border-left: 4px solid #000;
  padding-left: 37px;
  margin-bottom: 0;
}

.section-heading h2 {
  font-size: 40px;
  line-height: 46px;
  font-family: 'Montserrat', sans-serif;
  color: #000;
  margin: 0;
  padding: 0;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.heading-line {
  display: block;
  line-height: 46px;
}

.heading-bold {
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
}

.heading-regular {
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
}

.section-description {
  font-size: 17px;
  line-height: 24.91px;
  color: #868686;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  margin: 0;
  padding-left: 37px;
  max-width: 650px;
  text-align: left;
}

@media (max-width: 768px) {
  .destinations-header-section {
    padding: 60px 20px 0;
  }

  .section-heading {
    padding-left: 20px;
    border-left-width: 3px;
  }

  .section-heading h2 {
    font-size: 28px;
    line-height: 34px;
  }

  .heading-line {
    line-height: 34px;
  }

  .section-description {
    font-size: 15px;
    line-height: 22px;
    padding-left: 20px;
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .destinations-header-section {
    padding: 40px 15px 0;
  }

  .section-heading h2 {
    font-size: 24px;
    line-height: 30px;
  }

  .section-description {
    font-size: 14px;
    line-height: 20px;
  }
}

